// colors: hsla(33, 100%, 59%, 1), hsla(33, 95%, 94%, 1), white

$test-border: 2px solid red;

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', Arial, sans-serif;
  text-align: center;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: hsla(33, 95%, 94%, 1);
  & > * {
    padding-right: 1.5vw;
    padding-left: 1.5vw;
    font-size: 1.25em;
  }
}

article {
  padding: 0.5em;
}

h1 {
  font-size: 2.5em;
}

.description {
  font-size: 1.25em;
  width: 80vw;
  background: hsla(33, 55%, 97%, 1);
  padding: 1em;
  border-radius: 10px;
  margin: 0 auto;
  overflow: scroll;
}

.select-js-method {
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  margin: 0.5rem auto 0;
  font-size: 1.25em;
  p {
    margin: 0;
  }
  & > * {
    padding: 0.5em;
  }
}

.js-method-buttons {
  display: flex;
  flex-direction: column;
}

.label {
  padding: 0.5em 0.75em;
  border: $test-border;
  border-radius: 3px;
  margin: 0.25em;
  &--bad {
    background: hsla(0, 100%, 97%, 1);
    border: 1px solid hsla(0, 100%, 80%, 1);
    &:hover,
    &:focus {
      background: hsla(0, 65%, 53%, 1);
      color: white;
    }
  }
  &--better {
    background: hsla(101, 100%, 97%, 1);
    border: 1px solid hsla(101, 100%, 38%, 1);
    &:hover,
    &:focus {
      background: hsla(104, 57%, 31%, 1);
      color: white;
    }
  }
}

// prettier-ignore
input[type="radio"] {
  opacity: 0;
  position: absolute;
  &:active + .label {
    background: rgb(50,50,50);
  }
  &:checked + .label {
    &--bad {
      background: hsla(0, 65%, 53%, 1);
      color: white;
    }
    &--better {
      background: hsla(104, 57%, 31%, 1);
      color: white;
    }
  }
}
// prettier-ignore-end

.button--start {
  font-size: 1.25rem;
  padding: 0.75rem;
  border: 1px solid rgb(120, 120, 120);
  border-radius: 3px;
  margin: 0.25rem;
  max-width: 75vw;
  &:hover,
  &:focus {
    background: rgb(30, 30, 30);
    color: white;
  }
}

.initiate {
  margin-bottom: 1.5rem;
}

.map-container {
  border: 9px solid hsla(33, 55%, 97%, 1);
  border-radius: 5px;
  margin: 0 auto;
  max-width: 95vw;
  & img {
    max-width: 90vw;
  }
}

.messages {
  background: hsla(33, 55%, 97%, 1);
  max-width: 95vw;
  min-height: 25vh;
  padding: 0.25em;
  margin: 2vw auto;
  font-size: 1.25em;
}

.messages-inner p {
  font-size: 1.1rem;
}

footer {
  font-size: 0.8em;
  padding-bottom: 1.25em;
}

// for desktops

@media (min-width: 768px) {
  .select-js-method,
  .js-method-buttons {
    flex-direction: row;
  }
  .messages {
    margin: 1vw auto;
  }
  footer {
    padding-bottom: 1.5em;
  }
}
